form {
	margin-left: 20px !important;
	background-color: rgb(166,30,36);
	color: #fff;
}

form.wufoo {
	padding: 0 0 20px 1px !important;
}

header {
	display: none !important;
}

.wufoo label.desc, .wufoo legend.desc {
	color: #fff;
}

.wufoo input.btTxt{
	background-color: #fff;
	border: 1px solid rgb(166,30,36);
	float: left;
	font-size: 1em;
	color: rgb(166,30,36);
	text-align: center;
	border: 0;
	height: 30px;
	max-height: 30px;
	line-height: 30px;
	padding: 0 15px 0 15px;
	cursor: pointer;
}

.wufoo input.btTxt:hover{
	background-color: rgb(166,30,36);
	color: #fff;
	border: 1px solid #fff;
	-webkit-transition: all .15s ease-in;
}
